@model rise.ViewModels.AccountSummaryViewModel
@using rise.Models

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card card-statistics">
            <div class="row">
                <div class="box card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                            <i class="mdi mdi-account-multiple-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                            <div class="wrapper text-center text-sm-left">
                                <p class="card-text mb-0">New Users</p>
                                <div class="fluid-container">
                                    <h3 class="mb-0 font-weight-medium">65,650</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                            <i class="mdi mdi-checkbox-marked-circle-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                            <div class="wrapper text-center text-sm-left">
                                <p class="card-text mb-0">New Feedbacks</p>
                                <div class="fluid-container">
                                    <h3 class="mb-0 font-weight-medium">32,604</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                            <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                            <div class="wrapper text-center text-sm-left">
                                <p class="card-text mb-0">Employees</p>
                                <div class="fluid-container">
                                    <h3 class="mb-0 font-weight-medium">17,583</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                            <i class="mdi mdi-target text-primary mr-0 mr-sm-4 icon-lg"></i>
                            <div class="wrapper text-center text-sm-left">
                                <p class="card-text mb-0">Total Sales</p>
                                <div class="fluid-container">
                                    <h3 class="mb-0 font-weight-medium">61,119</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>