@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using rise.Models
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf


@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

@model rise.Models.ApplicationUser

@{
    ViewData["Title"] = "Rise Play Page";
}

<link rel="stylesheet" href="@Url.Content("~/css/odometer-theme-slot-machine.css")" />

<style>
    .odometer {
        font-size: 80px;
    }
    .content-wrapper {
        background-color:#32383e !important;
    }
    
</style>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Member")))
{
    @section Scripts
        {
        <script src="@Url.Content("~/js/odometer.min.js")"></script>

        <script type="text/javascript">

            $(document).ready(function() {
                $("#slider-range-max").slider({
                    range: "max",
                    min: 4,
                    max: 96,
                    value: 50,
                    slide: function (event, ui) {
                        odometer1.innerHTML = ui.value;
                        $("#amount").val(ui.value);
                    }
                });
            } );

        </script>
    }
}

<div class="content-wrapper">
    <section class="content">
        @if (!SignInManager.IsSignedIn(User) || User.IsInRole("Guest"))
        {
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <br /><br /><br /><br /><br />
                <img src="~/images/hodlplay.svg" alt="riseplay" class="img-fluid" width="700" />
                <br />

                <h2>
                    RisePlay (Beta Testing)
                </h2>
                <br />
                <br /><br />

                @if (User.Identity.Name != null)
                {
                    <p class="lead">
                        <h2>
                            <span class="text-warning"> Sorry @User.Identity.Name the site is only available on invite.</span>
                        </h2>
                    </p>
                }
                else
                {
                    <p class="lead">
                        <br />
                        <h2> <span class="text-warning">At this moment RisePlay is only available on invite.</span></h2>
                    </p>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-4">
                    <div id="odometer1" class="odometer">00</div>
                </div>
                <div class="col-sm-4">
                    <div id="odometer2" class="odometer">50</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <label for="amount">Lucky Number</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range-max"></div>
                </div>
            </div>
        }
    </section>
</div>

